<%- include("templates/head.ejs", {titulo: "Carrito" }) -%>
<%- include("./templates/barraSup1.ejs",{nombre: name,foto: photo}) -%>
<%- include("./templates/barraSup2.ejs",{carrito: cantCarrito}) -%>
<div class="container contenedor">
  <div class="row" >
    <h2 style="text-align:center ;">Mis compras</h2>
</div>
  <hr>
    <div class="row" style="margin-left:10% ;">
        <ul>
          <% 
          for(orden of ordenes){ %>
            <li><a href="/ordenes/<%=orden.id%>">Orden Nº <%= orden.id %></a> <p><%=orden.fechaHora %></p> </li>
          <%} %>
           
        </ul>
    </div>
  <br>
  <br>

</div>
  
</div>

</body>
</html>