<%- include("templates/head.ejs", {titulo: "Carrito" }) -%>
<%- include("./templates/barraSup1.ejs",{nombre: name}) -%>
<%- include("./templates/barraSup2.ejs",{carrito: cantCarrito}) -%>
<div class="container contenedor">
  <div class="row" >
    <h2 style="text-align:center ;">Orden de Compra</h2>
    <hr>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Datos del Usuario</u></h4>
</div>
<div class="row" >
  <div class="col-3"></div>
  <div class="col-3">
    
    <p>ORDEN</p>
    <p>FECHA Y HORA</p>
    <p>NOMBRE Y APELLIDO</p>
    <p>EMAIL</p>
    <p>TEL. Nº</p>
  </div>
  <div class="col-2"></div>
  <div class="col-3">
    <p>XX</p>
    <p><%= datos.fecha %></p>
    <p><%= datos.nombre + " " + datos.apellido %>  </p>
    <p><%= datos.email %> </p>
    <p><%= datos.telefono %> </p>
  </div>
  <div class="col-1"></div>
</div>
<hr>
<div class="row">
  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Productos para la compra</u></h4>
</div>
  <div class="row" >
    <% 
            for(productos of datos.items){ %>
        <%- include("./templates/itemsOrden.ejs", {items:productos}) -%>
      <%} %>
    </div>


<hr>
<div class="row">
</div>
<div class="row">
  <div class="col-7"></div>
  <div class="col-3">  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Total de Compra</u></h4>
  </div>
  <div class="col-2"> <h2>$<%= datos.total %></h2>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-9">
    </div>
    <div class="col-1">
      <a href="" class="btn btn-primary">Cancelar</a>
      </div>
      <div class="col-2">
        <a href="/ordenes/generar" class="btn btn-success">Aceptar y Enviar</a>
        </div>
  </div>
  <br>
  <br>

</div>
  
</div>
</body>
</html>