<%- include("templates/head.ejs", {titulo: "productos" }) -%>
<%- include("./templates/barraSup1.ejs") -%>
<%- include("./templates/barraSup2.ejs") -%>
<div class="container contenedor">
    <% 
            for(productos of array){ %>
        <%- include("./templates/card.ejs", {producto: productos }) -%>
      <%} %>
    </div>
<%- include("./vistaProductos/footer.ejs") -%>